.loginForm {
    display: none;
    flex-direction: column;
    top: 0;
    right: 0;
    
    border-color: aqua;
    border-width: 1px;
    border-style: solid;
}


.accountIcon {
    border: none;
    border-radius: 50%;
    margin: 4px 2px;
    padding: 30px;
    background-color: white
}