.loginFormContainer {
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    width: 300px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.error {
    display: block;
    margin-bottom: 10px;
    color: #B80000; /* Change color to your preference */
    font-size: 14px;
}

.userContainer {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.passwordContainer {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.passwordInput {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.rememberMeContainer {
    text-align: center;
    margin-bottom: 15px;
}

/* .rememberMeCheckbox {
    border: 1px solid #ccc;
    border-radius: 50px;
} */

.forgotPassword {
    text-align: right;
    text-decoration: none;
    margin: 10px;
    color: blue;
}

.signIn, .signUp {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-bottom: 5px;
}

.signIn:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}

.signUp {
    background-color: #28a745;
}

.signUp:hover {
    background-color: #218838; /* Darker green color on hover */
}

.userDropdown {
    position: relative;
    display: inline-block;
}

.dropdownMenu {
    position: absolute;
    top: calc(100% - 20px);
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdownItem {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdownItem:hover {
    background-color: #f0f0f0;
}

.dropdownDivider {
    border-top: 1px solid #ccc;
    margin: 5px 0;
}